<div class="card mx-auto" style="width: 50rem;">
	<div class="card-body">
		<h3 class="card-title"><%= @demo.title %></h3>
		<p class="text-muted">Posted by <%= link_to @demo.user.full_name, @demo.user %></p>

		<% if @demo.user == current_user %>
			<%= link_to 'Edit', edit_demo_path(@demo) %> | 
			<%= link_to 'Destroy', @demo, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>

		<p><%= @demo.description %></p>

		<h5 class="text-center"><%= @demo.comments.count %> Comments</h5>

		<div class="card mx-auto" style="width: 35rem;">
			<div class="card-body">
				<%= render @demo.comments %>	
			
				<h3>Reply to this Thread</h3>
				<%= render "comments/form" %>
			</div>
		</h5>
	</div>
</div>