<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @user.genres %>
</p>

<h5>Demos</h5>
<% @user.demos.each do |demo| %>
  <h6><%= demo.title %></h6>
  <p><%= demo.description %></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> | 
<%= link_to 'Home', root_url %>
