<div class="card-body">
	<h1>Demos</h1>

	<% if current_user %>
		<a href="/demos/new" class="btn mx-auto">Post a Demo</a>
	<% end %>
	<% @demos.each do |demo| %>
		<div class="card" style="width: 50rem;">
			<div class="card-body">
				<h4 class="card-title"><%= demo.title %></h4>
				<h6 class="card-subtitle mb-2 text-muted"><%= demo.user.full_name %></h6>
				<p class="card-text"><%= demo.description %></p>
				<h8 class="text-muted"><%= demo.comments.count %> Comments</h8>
				<br>
				<%= link_to 'View Full Post', demo %>
			</div>
		</div>
	<% end %>
</div>