<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @band.description %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @band.genres %>
</p>

<p>
  <strong>User:</strong>
  <%= @band.user %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
